<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
        <li class="list-inline-item">
            <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-lg btn-comm" type="button" role="button"><i class="fas fa-comments"></i></a>
        </li>
    </ul>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Content</h5>
                <p>The Best Gourmet Food, Food Gifts & Mail Order Foods Shipped Nationwide</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Press</a>
                    </li>
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                    <li>
                        <a href="#!">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Discover</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Discounts</a>
                    </li>
                    <li>
                        <a href="#!">E-Gift Cards</a>
                    </li>
                    <li>
                        <a href="#!">Reward Ponts</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">More Info</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Location</a>
                    </li>
                    <li>
                        <a href="#!">Open Hours</a>
                    </li>
                    <li>
                        <a href="#!">Policy</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <small>© 2022 Copyright:
            <a href="https://example.com/"> example.com</a>
        </small>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->