<nav class="navbar navbar-expand-sm text-center">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for ('home') }}">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('cakes') }}">CAKES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('cupcakes') }}">CUPCAKES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('contact') }}">CUSTOM ORDERS</a>
            </li>
        </ul>
        <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
        </form>
    </div>
</nav>