{%extends 'layout.html'%}

{% block content %}
<h3>CUPCAKES</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <img class="card-img-top" src="../static/images/cupcakes/pexels-saveurs-secretes-6822806.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">$ 7.00</p>
                <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
        </div>
    </div>

        <div class="col-md-4">
        
            <div class="card text-center">
        
                <img class="card-img-top" src="../static/images/cupcakes/pexels-jess-bailey-designs-853005.jpg" alt="Card image cap">
        
                <div class="card-body">
        
                    <h5 class="card-title">Card title</h5>
        
                    <p class="card-text"></p>
        
                    <a href="#" class="btn btn-outline-dark mt-auto">Go somewhere</a>
        
                </div>
        
            </div>
        
        </div>

            <div class="col-md-4">
            
                <div class="card text-center">
            
                    <img class="card-img-top" src="../static/images/cupcakes/pexels-jess-bailey-designs-913135.jpg" alt="Card image cap">
            
                    <div class="card-body">
            
                        <h5 class="card-title">Card title</h5>
            
                        <p class="card-text"></p>
            
                        <a href="#" class="btn btn-primary">Go somewhere</a>
            
                    </div>
            
                </div>
 
               
            </div>
                <div class="col-md-4">
                
                    <div class="card text-center">
                
                        <img class="card-img-top" src="../static/images/cupcakes/pexels-mikhail-nilov-9147808.jpg" alt="Card image cap">
                
                        <div class="card-body">
                
                            <h5 class="card-title">Card title</h5>
                
                            <p class="card-text"></p>
                
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                
                        </div>
                
                    </div>
                
                </div>
                    <div class="col-md-4">
                    
                        <div class="card text-center">
                    
                            <img class="card-img-top" src="../static/images/cupcakes/pexels-valeria-boltneva-7474204.jpg" alt="Card image cap">
                    
                            <div class="card-body">
                    
                                <h5 class="card-title">Card title</h5>
                    
                                <p class="card-text"></p>
                    
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                    
                            </div>
                    
                        </div>
                    
                    </div>
                        <div class="col-md-4">
                        
                            <div class="card text-center">
                        
                                <img class="card-img-top" src="../static/images/cupcakes/pexels-tim-douglas-6210756.jpg" alt="Card image cap">
                        
                                <div class="card-body">
                        
                                    <h5 class="card-title">Card title</h5>
                        
                                    <p class="card-text"></p>
                        
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                        
                                </div>
                        
                            </div>
                        
                    
            </div>



    
</div>
{% endblock content %}